body { background-color: lightblue; font-family: 휴면 편지체; font-size: 1em; text-indent: 1em;}
section { background-color: lightpink; }
strong { color: blue; }
footer { border-radius: 10px; background-color: orange; }
h3 { color: brown; text-align: center; }